{% extends "layout.html" %}
{% block title %}Telegraph{% endblock %}
{% block content %}

<style type="text/css">

.wrap {
    width: 700px;
    height: 700px;
    margin: 20px;
    border: 50px solid #000;
}
.space {
    float: left;
    width: 120px;
    height: 120px;
    background-color: #FFF;
    font-size: 20px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: 2px solid #000;
}

</style>

</head>

<body>

<div class="wrap">
<!-- 3th -->
<div class="space">Rain (a)</div>
<div class="space" >Clock (s)</div>
<div class="space" >Burglar (n)</div>
<div class="space" >Rainbow (w)</div>
<div class="space" >Dancing (a)</div>
<div class="space" >Mind (t)</div>
<div class="space" >Car (e)</div>
<div class="space" >Strip (h)</div>
<div class="space" >Bowling (t)</div>
<div class="space" >Rat (y)</div>
<div class="space" >Alley (h)</div>
<div class="space" >Water (k)</div>
<div class="space" >Knob (m)</div>
<div class="space" >Queen (r)</div>
<div class="space" >Film (t)</div>
<div class="space" >Police (s)</div>
<div class="space" >Cloud (s)</div>
<div class="space" >Cat (i)</div>
<div class="space" >Bee (e)</div>
<div class="space" >Door (e)</div>
<div class="space" >Shoe (b)</div>
<div class="space" >Alarm (g)</div>
<div class="space" >Bone (u)</div>
<div class="space" >Mall (e)</div>
<div class="space" >Hive (n)</div>

</div>
{% endblock %}