{% extends "layout.html" %}
{% block title %}Enter Code{% endblock %}
{% block content %}

<form action="{{ url_for('key') }}" method="POST" style="margin-top: 15px; margin-left: 15px">
	<div style="margin: 15px">
		<div><input type="text" name="key" style="height:30px; width:200px" placeholder="Key"></div>
	</div>

	<div style="margin: 15px">
		<input type="submit" name="Submit" style="height:30px; width:200px"><br/>
	</div>
</form>

	{% if response %}
	<p>{{response}}</p>
	{% endif %}
	
	<br/>
<div style="margin: 15px">
	&nbsp;Leaderboards:

<div class="table">
<table class="grid" cellspacing="0">
<tbody>
<tr>
  <td colspan="4">Level</td>
  <td colspan="4">Players Completed</td>
  <td colspan="4">First Completed By</td>  
  <td colspan="4">Date First Completed</td>  

  
</tr>

	{% for item in leaderboard %}
	<tr>
		<td colspan="4">&nbsp;{{ item.0 }}</td>
		<td colspan="4">&nbsp;{{ item.1 }}</td>
		<td colspan="4">&nbsp;{{ item.2 }}</td> 
		<td colspan="4">&nbsp;{{ item.3 }}</td>  			
	</tr>       
    {% endfor %}

</tbody></table>
</div>
</div>

<p>Open this in a new tab</p>
<form action="{{ url_for('demo') }}" method="GET" >
	<input type="submit" value="Demo"><br/>
</form>


{% endblock %}