{% extends "layout.html" %}
{% block title %}Telegraph{% endblock %}
{% block content %}
<body>
  <pre>
          LoveLoveLov                eLoveLoveLo
      veLoveLoveLoveLove          LoveLoveLoveLoveLo
   veLoveLoveIoveLoveLoveL      oveLoveLoveLoveLoveLove
  LoveLoveLoveLoveLoveLovLL    oveLoveLAveLoveLoveLoveLo
 veLoveLoveLoveLoveLoveLoveL  oveLoveLoveLoveLoveLoveLove
 LoveLoveLoLeLoveLoveLoWeLoveLoveLoveLAveLoveLoveLoveLove
 LoveLoveLoveLoveLoveLoveYoveLoveLoveLoveLoveLSveLoveLove
  LoveLBveLoveLoveLoveEoveLoveLoveLoveLoveLoveLoveLoveLo
  veLoveLoveLoveLoveLoveLoveLoveHeveLoveLoveLoveLoveLove
    LoveLoveLoveLoveLoveLoveLoveLoveLoveLoveLoveLoveLo
      veLoveLoveLoveReveLoveLoveLoveLoveLoveLoveLove
        LoveLoveLoveLoveLoveFOveLoveLoveLoveLoveLo
          veLoveLoveLoReLoveLoveLoveLoveLoveLove
            LoveLoveLoveLoveLoveLoveLoveLoveLo
              veLoveLoveLYveLoveLoveLoveLove
                LoveLoveLoveOoveLoveLoveLo
                   veLoveLoveLoveLoveLo
                       veLoveLoveUo
                            ve
  </pre>
</body>

{% endblock %}