{% extends "layout.html" %}
{% block title %}Telegraph{% endblock %}
{% block content %}

<style type="text/css">

.wrap {
    width: 690px;
    height: 210px;
    margin: 20px;
    border: 25px solid #000;
}
.space {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

</style>

</head>

<body>

<div class="wrap">

<div class="space" style="background-color: #053"></div>
<div class="space" style="background-color: #06f"></div>
<div class="space" style="background-color: #020"></div>
<div class="space" style="background-color: #079"></div>
<div class="space" style="background-color: #06f"></div>
<div class="space" style="background-color: #075"></div>
<div class="space" style="background-color: #020"></div>
<div class="space" style="background-color: #066"></div>
<div class="space" style="background-color: #06f"></div>
<div class="space" style="background-color: #075"></div>
<div class="space" style="background-color: #06e"></div>
<div class="space" style="background-color: #064"></div>
<div class="space" style="background-color: #020"></div>
<div class="space" style="background-color: #06d"></div>
<div class="space" style="background-color: #065"></div>
<div class="space" style="background-color: #F00"></div>

</div>
{% endblock %}